First I want to install the python packages for this project and then read in the datasets with Pandas.

In [1]:
# import libraries

import pandas as pd
import numpy as np

In [2]:
# load in data sources

sightings = pd.read_csv('data/ufo_location_shape.csv')
climate = pd.read_csv('data/USA_HistoricalWeather_State.csv')

Next I want to clean and combine the two dataframes.  The first step in doing this is to check the head, shape, and info of each dataframe.

In [3]:
# print the head of each data frame 

sightings.head(5)

,Event.Date,Shape,Location,State,Country,Source,USA,Unnamed: 7
0,6/18/2016,Boomerang/V-Shaped,South Barrington,IL,USA,NUFORC,1,NaN
1,6/17/2016,Boomerang/V-Shaped,Kuna,ID,USA,NUFORC,1,NaN
2,5/30/2016,Boomerang/V-Shaped,Lake Stevens,WA,USA,NUFORC,1,NaN
3,5/27/2016,Boomerang/V-Shaped,Gerber,CA,USA,NUFORC,1,NaN
4,5/24/2016,Boomerang/V-Shaped,Camdenton,MO,USA,NUFORC,1,NaN

In [4]:
climate.head(5)

,Unnamed: 0,state,avg_hum_spr,avg_hum_sum,avg_hum_fall,avg_hum_wint,avg_temp_spr,avg_temp_sum,avg_temp_fall,avg_temp_wint,avg_precip_spr,avg_precip_sum,avg_precip_fall,avg_precip_wint,avg_pressure_spr,avg_pressure_sum,avg_pressure_fall,avg_pressure_wint
0,0,Alabama,73.021978,72.582418,75.326087,75.739130,18.076923,27.604396,30.793478,20.989130,1.324176,3.756044,6.307609,2.841304,1021.978022,1016.000000,1016.271739,1018.380435
1,1,Alaska,67.769231,72.439560,78.293478,75.163043,28.197802,30.000000,29.641304,27.739130,0.081319,2.485714,4.276087,0.751087,1014.450549,1012.296703,1012.597826,1013.260870
2,2,Arizona,82.164835,77.153846,79.891304,81.673913,25.582418,29.054945,28.782609,27.021739,2.626374,2.190110,1.850000,3.127174,1016.362637,1013.098901,1013.945652,1014.097826
3,3,Arkansas,58.307692,68.109890,68.304348,67.554348,10.824176,26.076923,30.902174,12.576087,0.231868,1.501099,1.282609,0.541304,1021.076923,1012.945055,1015.217391,1019.086957
4,4,California,42.681319,34.846154,24.760870,39.195652,15.538462,27.318681,35.010870,18.010870,0.228571,0.002198,0.014130,0.129348,1018.505495,1012.505495,1012.206522,1017.293478

In [5]:
# print the shape of each dataframe

sightings.shape

(3646, 8)

In [6]:
climate.shape

(50, 18)

In [16]:
# print info of each dataframe

sightings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3646 entries, 0 to 3645
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Event.Date  3646 non-null   object
 1   Shape       3646 non-null   object
 2   Location    3635 non-null   object
 3   State       3524 non-null   object
 4   Country     3641 non-null   object
 5   Source      3646 non-null   object
 6   USA         3646 non-null   object
 7   Unnamed: 7  11 non-null     float64
dtypes: float64(1), object(7)
memory usage: 228.0+ KB

In [15]:
climate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         50 non-null     int64
 1   state              50 non-null     object
 2   avg_hum_spr        50 non-null     float64
 3   avg_hum_sum        50 non-null     float64
 4   avg_hum_fall       50 non-null     float64
 5   avg_hum_wint       50 non-null     float64
 6   avg_temp_spr       50 non-null     float64
 7   avg_temp_sum       50 non-null     float64
 8   avg_temp_fall      50 non-null     float64
 9   avg_temp_wint      50 non-null     float64
 10  avg_precip_spr     50 non-null     float64
 11  avg_precip_sum     50 non-null     float64
 12  avg_precip_fall    50 non-null     float64
 13  avg_precip_wint    50 non-null     float64
 14  avg_pressure_spr   50 non-null     float64
 15  avg_pressure_sum   50 non-null     float64
 16  avg_pressure_fall  50 non-null     float64
 17  avg_pressure_wint  50 non-null     float64
dtypes: float64(16), int64(1), object(1)
memory usage: 7.2+ KB

Next I want to remove unneeded columns and organize the columns in ascending order.

In [19]:
# use .drop to remove columns that won't be used in sightings dataframe

ufos = sightings.drop(['Event.Date', 'Shape', 'Source', 'Unnamed: 7', 'Country', 'USA', 'Location' ], axis=1)
ufos.head(5)

  State
0   IL
1   ID
2   WA
3   CA
4   MO

In [20]:
# use .drop to remove unused columns from climate dataframe

temperature = climate.drop(climate.columns[[2,3,4,5,10,11,12,13,14,15,16,17]], axis=1)
temperature.head(5)

,Unnamed: 0,state,avg_temp_spr,avg_temp_sum,avg_temp_fall,avg_temp_wint
0,0,Alabama,18.076923,27.604396,30.793478,20.989130
1,1,Alaska,28.197802,30.000000,29.641304,27.739130
2,2,Arizona,25.582418,29.054945,28.782609,27.021739
3,3,Arkansas,10.824176,26.076923,30.902174,12.576087
4,4,California,15.538462,27.318681,35.010870,18.010870

In [21]:
# join the two datframes

joined_data = pd.concat([ufos, temperature], axis=1, join="inner")
joined_data.head(25)

,State,Unnamed: 0,state,avg_temp_spr,avg_temp_sum,avg_temp_fall,avg_temp_wint
0,IL,0,Alabama,18.076923,27.604396,30.793478,20.989130
1,ID,1,Alaska,28.197802,30.000000,29.641304,27.739130
2,WA,2,Arizona,25.582418,29.054945,28.782609,27.021739
3,CA,3,Arkansas,10.824176,26.076923,30.902174,12.576087
4,MO,4,California,15.538462,27.318681,35.010870,18.010870
5,FL,5,Colorado,6.494505,19.714286,23.967391,6.619565
6,UT,6,Connecticut,3.934066,20.010989,27.021739,8.500000
7,MD,7,Delaware,3.967033,21.934066,26.510870,8.967391
8,ID,8,Florida,24.604396,22.670330,23.380435,23.065217
9,MO,9,Georgia,9.230769,23.000000,28.934783,12.021739
10,DC,10,Hawaii,19.109890,21.604396,27.260870,21.445652
11,AZ,11,Idaho,2.351648,18.879121,28.043478,4.717391
12,MN,12,Illinois,2.329670,21.769231,26.434783,7.173913
13,NM,13,Indiana,4.461538,22.494505,26.271739,9.467391
14,NY,14,Iowa,1.780220,21.351648,26.260870,6.771739
15,CA,15,Kansas,6.472527,24.846154,29.456522,9.978261
16,NY,16,Kentucky,32.989011,23.406593,20.239130,30.967391
17,CO,17,Louisiana,5.406593,23.549451,28.206522,9.826087
18,MN,18,Maine,34.032967,40.362637,36.119565,33.978261
19,IA,19,Maryland,6.516484,25.065934,29.423913,10.913043
20,NJ,20,Massachusetts,4.109890,19.549451,27.086957,9.163043
21,AZ,21,Michigan,1.593407,17.263736,23.489130,6.500000
22,LA,22,Minnesota,-2.010989,17.857143,23.728261,3.271739
23,OR,23,Mississippi,15.021978,27.890110,32.021739,17.141304
24,AR,24,Missouri,19.307692,29.527473,32.054348,20.467391

In [ ]:
# rename the State Columns

After joining the dataframes I would still like to do some cleaning.  I'd like to get a total average column for the temperature of each state.  I would also like to group, count and sort the State column.

In [14]:
# calculate total avg temperature for each state

In [ ]:
# group, count , and sort state column