First I want to install the python packages for this project and then read in the datasets with Pandas.

In [126]:
# import libraries

import pandas as pd
import numpy as np

In [127]:
# load in data sources

sightings = pd.read_csv('data/ufo_location_shape.csv')
climate = pd.read_csv('data/USA_HistoricalWeather_State.csv')

Next I want to clean and combine the two dataframes.  The first step in doing this is to check the head, shape, describe, and info of each dataframe.

In [128]:
# print the head of each data frame 

sightings.head(5)

,Event.Date,Shape,Location,State,Country,Source,USA,Unnamed: 7
0,6/18/2016,Boomerang/V-Shaped,South Barrington,IL,USA,NUFORC,1,NaN
1,6/17/2016,Boomerang/V-Shaped,Kuna,ID,USA,NUFORC,1,NaN
2,5/30/2016,Boomerang/V-Shaped,Lake Stevens,WA,USA,NUFORC,1,NaN
3,5/27/2016,Boomerang/V-Shaped,Gerber,CA,USA,NUFORC,1,NaN
4,5/24/2016,Boomerang/V-Shaped,Camdenton,MO,USA,NUFORC,1,NaN

In [129]:
climate.head(5)

,Unnamed: 0,state,avg_hum_spr,avg_hum_sum,avg_hum_fall,avg_hum_wint,avg_temp_spr,avg_temp_sum,avg_temp_fall,avg_temp_wint,avg_precip_spr,avg_precip_sum,avg_precip_fall,avg_precip_wint,avg_pressure_spr,avg_pressure_sum,avg_pressure_fall,avg_pressure_wint
0,0,Alabama,73.021978,72.582418,75.326087,75.739130,18.076923,27.604396,30.793478,20.989130,1.324176,3.756044,6.307609,2.841304,1021.978022,1016.000000,1016.271739,1018.380435
1,1,Alaska,67.769231,72.439560,78.293478,75.163043,28.197802,30.000000,29.641304,27.739130,0.081319,2.485714,4.276087,0.751087,1014.450549,1012.296703,1012.597826,1013.260870
2,2,Arizona,82.164835,77.153846,79.891304,81.673913,25.582418,29.054945,28.782609,27.021739,2.626374,2.190110,1.850000,3.127174,1016.362637,1013.098901,1013.945652,1014.097826
3,3,Arkansas,58.307692,68.109890,68.304348,67.554348,10.824176,26.076923,30.902174,12.576087,0.231868,1.501099,1.282609,0.541304,1021.076923,1012.945055,1015.217391,1019.086957
4,4,California,42.681319,34.846154,24.760870,39.195652,15.538462,27.318681,35.010870,18.010870,0.228571,0.002198,0.014130,0.129348,1018.505495,1012.505495,1012.206522,1017.293478

In [130]:
# print the shape of each dataframe

sightings.shape

(3646, 8)

In [131]:
climate.shape

(50, 18)

In [132]:
# print info of each dataframe

sightings.info

<bound method DataFrame.info of       Event.Date                Shape            Location State       Country  \
0      6/18/2016  Boomerang/V-Shaped    South Barrington    IL           USA
1      6/17/2016  Boomerang/V-Shaped                Kuna    ID           USA
2      5/30/2016  Boomerang/V-Shaped        Lake Stevens    WA           USA
3      5/27/2016  Boomerang/V-Shaped              Gerber    CA           USA
4      5/24/2016  Boomerang/V-Shaped           Camdenton    MO           USA
...          ...                  ...                 ...   ...           ...
3641   11/2/2015             Unknown          Phnom Penh    NaN     Cambodia
3642   4/15/2015             Unknown     Hemel Hempstead    NaN   England/UK
3643    1/2/2005             Unknown               Manat    NaN  Puerto Rico
3644    5/4/1988             Unknown   Bounty (the ship)    NaN           NaN
3645  11/15/1978             Unknown                  NaN   NaN        Tonga

      Source USA  Unnamed: 7
0     NUFORC   1         NaN
1     NUFORC   1         NaN
2     NUFORC   1         NaN
3     NUFORC   1         NaN
4     NUFORC   1         NaN
...      ...  ..         ...
3641  NUFORC   0         NaN
3642  NUFORC   0         NaN
3643  NUFORC   0         NaN
3644  NUFORC   0         NaN
3645  NUFORC   0         NaN

[3646 rows x 8 columns]>

In [133]:
climate.info

<bound method DataFrame.info of     Unnamed: 0           state  avg_hum_spr  avg_hum_sum  avg_hum_fall  \
0            0         Alabama    73.021978    72.582418     75.326087
1            1          Alaska    67.769231    72.439560     78.293478
2            2         Arizona    82.164835    77.153846     79.891304
3            3        Arkansas    58.307692    68.109890     68.304348
4            4      California    42.681319    34.846154     24.760870
5            5        Colorado    46.076923    43.736264     49.902174
6            6     Connecticut    73.714286    68.098901     74.706522
7            7        Delaware    75.780220    71.186813     78.434783
8            8         Florida    63.780220    77.769231     74.130435
9            9         Georgia    66.659341    57.890110     51.402174
10          10          Hawaii    51.901099    63.802198     63.565217
11          11           Idaho    70.461538    52.142857     30.619565
12          12        Illinois    72.593407    71.648352     79.673913
13          13         Indiana    74.934066    73.307692     83.195652
14          14            Iowa    73.648352    74.659341     81.510870
15          15          Kansas    65.043956    66.175824     69.586957
16          16        Kentucky    28.164835    39.021978     36.336957
17          17       Louisiana    71.087912    74.351648     78.739130
18          18           Maine    13.857143    22.098901     41.934783
19          19        Maryland    68.747253    67.681319     73.304348
20          20   Massachusetts    73.560440    61.978022     67.076087
21          21        Michigan    76.351648    76.791209     83.760870
22          22       Minnesota    83.516484    83.010989     85.032609
23          23     Mississippi    73.736264    74.164835     76.315217
24          24        Missouri    72.868132    72.439560     77.173913
25          25         Montana    79.032967    68.318681     56.065217
26          26        Nebraska    76.659341    76.219780     84.206522
27          27          Nevada    89.560440    90.340659     82.000000
28          28   New_Hampshire    77.109890    74.703297     85.173913
29          29      New_Jersey    68.758242    63.758242     67.760870
30          30      New_Mexico    55.571429    69.241758     66.782609
31          31        New_York    68.329670    63.208791     67.141304
32          32  North_Carolina    70.538462    74.340659     78.250000
33          33    North_Dakota    74.868132    77.373626     85.282609
34          34            Ohio    76.593407    73.274725     83.554348
35          35        Oklahoma    57.406593    64.142857     66.108696
36          36          Oregon    76.868132    65.604396     57.673913
37          37    Pennsylvania    76.923077    77.615385     84.021739
38          38    Rhode_Island    73.549451    72.780220     77.945652
39          39  South_Carolina    62.340659    47.384615     37.086957
40          40    South_Dakota    82.824176    73.109890     67.456522
41          41       Tennessee    72.274725    73.703297     81.195652
42          42           Texas    76.538462    73.714286     75.000000
43          43            Utah    65.439560    42.384615     27.728261
44          44         Vermont    74.318681    76.549451     76.760870
45          45        Virginia    75.758242    77.538462     77.880435
46          46      Washington    63.439560    62.252747     67.630435
47          47   West_Virginia    74.153846    76.868132     81.271739
48          48       Wisconsin    80.857143    78.549451     79.434783
49          49         Wyoming    75.516484    75.747253     77.565217

    avg_hum_wint  avg_temp_spr  avg_temp_sum  avg_temp_fall  avg_temp_wint  \
0      75.739130     18.076923     27.604396      30.793478      20.989130
1      75.163043     28.197802     30.000000      29.641304      27.739130
2      81.673913     25.582418     29.054945      28.782609      27.021739
3      67.554348     10.824176     26.076923      30.902174      12.576087
4      39.195652     15.538462     27.318681      35.010870      18.010870
5      53.152174      6.494505     19.714286      23.967391       6.619565
6      73.163043      3.934066     20.010989      27.021739       8.500000
7      76.652174      3.967033     21.934066      26.510870       8.967391
8      75.521739     24.604396     22.670330      23.380435      23.065217
9      67.032609      9.230769     23.000000      28.934783      12.021739
10     54.130435     19.109890     21.604396      27.260870      21.445652
11     65.076087      2.351648     18.879121      28.043478       4.717391
12     73.826087      2.329670     21.769231      26.434783       7.173913
13     76.521739      4.461538     22.494505      26.271739       9.467391
14     73.695652      1.780220     21.351648      26.260870       6.771739
15     69.423913      6.472527     24.846154      29.456522       9.978261
16     24.097826     32.989011     23.406593      20.239130      30.967391
17     75.369565      5.406593     23.549451      28.206522       9.826087
18     17.858696     34.032967     40.362637      36.119565      33.978261
19     71.445652      6.516484     25.065934      29.423913      10.913043
20     65.978261      4.109890     19.549451      27.086957       9.163043
21     77.750000      1.593407     17.263736      23.489130       6.500000
22     80.543478     -2.010989     17.857143      23.728261       3.271739
23     76.369565     15.021978     27.890110      32.021739      17.141304
24     74.695652     19.307692     29.527473      32.054348      20.467391
25     72.282609      5.835165     22.736264      26.543478      10.293478
26     77.456522      5.395604     22.516484      26.380435      10.065217
27     91.489130     20.043956     20.373626      22.250000      20.184783
28     79.369565      3.516484     21.175824      25.184783       8.391304
29     66.413043      5.043956     19.934066      27.652174      10.847826
30     58.815217     30.098901     19.747253      16.782609      26.750000
31     65.858696      5.109890     19.912088      27.728261      11.021739
32     76.967391     11.109890     25.340659      29.282609      14.358696
33     77.597826      0.989011     19.208791      24.652174       5.695652
34     77.304348      3.274725     21.219780      25.597826       8.260870
35     64.684783     12.285714     27.274725      31.336957      13.880435
36     70.815217      9.527473     19.483516      26.076087      12.500000
37     82.097826      3.109890     19.648352      25.021739       7.304348
38     71.315217      5.000000     17.989011      25.706522       9.967391
39     47.815217     25.769231     20.769231      22.347826      26.858696
40     75.228261     -4.131868     18.604396      25.880435       2.597826
41     74.271739      3.549451     22.670330      26.967391       8.413043
42     74.858696     18.076923     27.362637      30.586957      20.923913
43     45.923913     -1.384615     14.307692      19.630435       3.554348
44     75.543478     26.241758     27.296703      28.347826      27.641304
45     73.445652      8.032967     21.230769      27.869565      15.054348
46     66.445652      8.087912     24.505495      29.967391      12.706522
47     77.934783      5.219780     20.714286      25.847826       9.173913
48     79.010870     -1.747253     17.472527      24.434783       3.217391
49     78.956522      1.362637     18.021978      25.260870       5.934783

    avg_precip_spr  avg_precip_sum  avg_precip_fall  avg_precip_wint  \
0         1.324176        3.756044         6.307609         2.841304
1         0.081319        2.485714         4.276087         0.751087
2         2.626374        2.190110         1.850000         3.127174
3         0.231868        1.501099         1.282609         0.541304
4         0.228571        0.002198         0.014130         0.129348
5         0.318681        0.986813         1.986957         0.515217
6         1.908791        1.661538         2.627174         2.702174
7         1.993407        2.806593         2.967391         2.089130
8         1.186813        5.889011         6.381522         3.484783
9         0.574725        0.709890         1.046739         0.677174
10        0.042857        0.000000         0.047826         0.030435
11        0.153846        0.485714         0.108696         0.195652
12        0.521978        1.542857         1.378261         0.983696
13        1.254945        1.853846         2.225000         0.945652
14        0.990110        2.675824         2.078261         1.764130
15        0.324176        1.253846         2.118478         1.003261
16        0.173626        0.075824         0.002174         0.002174
17        1.397802        1.759341         1.909783         1.511957
18        0.000000        0.171429         0.311957         0.015217
19        1.650549        1.801099         2.400000         1.477174
20        1.905495        1.359341         1.328261         1.965217
21        0.808791        2.498901         2.691304         1.439130
22        0.612088        2.547253         1.859783         0.851087
23        1.586813        2.883516         2.101087         1.644565
24        0.116484        0.272527         0.772826         0.321739
25        1.232967        0.905495         0.596739         0.677174
26        0.958242        1.051648         1.460870         0.856522
27        5.697802       10.142857         6.665217         7.173913
28        2.030769        2.838462         3.451087         2.136957
29        2.052747        1.502198         3.161957         3.357609
30        0.737363        0.151648         0.504348         1.014130
31        1.949451        1.745055         3.732609         3.405435
32        1.791209        1.761538         3.133696         2.372826
33        0.526374        1.779121         1.478261         0.722826
34        0.615385        1.062637         1.325000         0.520652
35        0.778022        1.851648         2.821739         1.041304
36        2.780220        1.076923         0.211957         2.769565
37        1.796703        2.161538         3.245652         2.550000
38        1.372527        0.559341         1.255435         0.821739
39        1.256044        0.216484         0.034783         1.607609
40        0.597802        1.620879         1.410870         0.619565
41        0.203297        0.382418         0.515217         0.248913
42        1.543956        2.212088         7.352174         2.535870
43        0.478022        0.427473         0.005435         0.227174
44        0.995604        0.863736         1.192391         1.400000
45        0.275824        0.560440         0.877174         0.556522
46        0.891209        3.168132         3.425000         1.621739
47        1.801099        2.791209         2.754348         2.057609
48        0.254945        1.153846         1.456522         0.692391
49        1.000000        1.356044         1.365217         1.119565

    avg_pressure_spr  avg_pressure_sum  avg_pressure_fall  avg_pressure_wint
0        1021.978022       1016.000000        1016.271739        1018.380435
1        1014.450549       1012.296703        1012.597826        1013.260870
2        1016.362637       1013.098901        1013.945652        1014.097826
3        1021.076923       1012.945055        1015.217391        1019.086957
4        1018.505495       1012.505495        1012.206522        1017.293478
5        1017.780220       1013.010989        1017.489130        1019.086957
6        1019.109890       1015.747253        1019.010870        1017.630435
7        1022.395604       1015.208791        1017.478261        1019.065217
8        1012.758242       1013.835165        1013.326087        1012.934783
9        1018.549451       1015.285714        1013.934783        1022.086957
10       1018.406593       1013.989011        1012.967391        1016.576087
11       1021.901099       1013.648352        1015.217391        1023.336957
12       1022.274725       1014.340659        1016.793478        1018.934783
13       1022.450549       1014.890110        1017.206522        1019.119565
14       1022.439560       1014.285714        1016.760870        1019.010870
15       1022.065934       1013.571429        1016.043478        1019.369565
16       1011.000000       1018.164835        1021.032609        1014.271739
17       1022.417582       1014.274725        1016.717391        1019.228261
18       1011.527473       1008.032967        1010.413043        1012.271739
19       1022.351648       1014.516484        1016.739130        1019.271739
20       1018.252747       1015.593407        1019.032609        1017.119565
21       1022.021978       1014.989011        1017.326087        1018.619565
22       1022.703297       1014.901099        1016.597826        1018.880435
23       1022.373626       1015.857143        1016.576087        1019.065217
24       1020.978022       1015.120879        1015.576087        1018.141304
25       1015.450549       1014.593407        1016.086957        1022.130435
26       1022.450549       1015.010989        1017.239130        1019.304348
27       1010.978022       1011.934066        1011.097826        1011.413043
28       1022.351648       1015.076923        1017.326087        1019.032609
29       1020.153846       1016.021978        1018.771739        1018.250000
30       1013.692308       1021.461538        1019.532609        1014.065217
31       1020.087912       1016.021978        1018.760870        1018.239130
32       1022.329670       1016.230769        1018.021739        1019.641304
33       1022.230769       1014.868132        1017.000000        1018.728261
34       1022.175824       1015.032967        1017.380435        1018.815217
35       1020.967033       1013.065934        1014.978261        1018.858696
36       1019.263736       1017.439560        1017.271739        1020.021739
37       1021.527473       1016.087912        1018.945652        1019.010870
38       1018.373626       1015.868132        1019.065217        1017.250000
39       1014.846154       1021.274725        1021.684783        1016.554348
40       1023.307692       1014.439560        1015.576087        1019.510870
41       1022.417582       1014.274725        1016.663043        1019.130435
42       1020.956044       1015.186813        1015.597826        1017.826087
43       1021.175824       1013.956044        1010.945652        1022.086957
44       1015.978022       1016.637363        1015.271739        1014.630435
45       1021.692308       1016.340659        1018.032609        1019.108696
46       1021.560440       1016.043956        1018.478261        1019.184783
47       1021.857143       1015.956044        1018.586957        1019.271739
48       1022.318681       1015.384615        1016.815217        1018.543478
49       1021.505495       1015.230769        1017.184783        1018.271739  >

In [134]:
# print describe of each dataframe

sightings.describe

<bound method NDFrame.describe of       Event.Date                Shape            Location State       Country  \
0      6/18/2016  Boomerang/V-Shaped    South Barrington    IL           USA
1      6/17/2016  Boomerang/V-Shaped                Kuna    ID           USA
2      5/30/2016  Boomerang/V-Shaped        Lake Stevens    WA           USA
3      5/27/2016  Boomerang/V-Shaped              Gerber    CA           USA
4      5/24/2016  Boomerang/V-Shaped           Camdenton    MO           USA
...          ...                  ...                 ...   ...           ...
3641   11/2/2015             Unknown          Phnom Penh    NaN     Cambodia
3642   4/15/2015             Unknown     Hemel Hempstead    NaN   England/UK
3643    1/2/2005             Unknown               Manat    NaN  Puerto Rico
3644    5/4/1988             Unknown   Bounty (the ship)    NaN           NaN
3645  11/15/1978             Unknown                  NaN   NaN        Tonga

      Source USA  Unnamed: 7
0     NUFORC   1         NaN
1     NUFORC   1         NaN
2     NUFORC   1         NaN
3     NUFORC   1         NaN
4     NUFORC   1         NaN
...      ...  ..         ...
3641  NUFORC   0         NaN
3642  NUFORC   0         NaN
3643  NUFORC   0         NaN
3644  NUFORC   0         NaN
3645  NUFORC   0         NaN

[3646 rows x 8 columns]>

In [135]:
climate.describe

<bound method NDFrame.describe of     Unnamed: 0           state  avg_hum_spr  avg_hum_sum  avg_hum_fall  \
0            0         Alabama    73.021978    72.582418     75.326087
1            1          Alaska    67.769231    72.439560     78.293478
2            2         Arizona    82.164835    77.153846     79.891304
3            3        Arkansas    58.307692    68.109890     68.304348
4            4      California    42.681319    34.846154     24.760870
5            5        Colorado    46.076923    43.736264     49.902174
6            6     Connecticut    73.714286    68.098901     74.706522
7            7        Delaware    75.780220    71.186813     78.434783
8            8         Florida    63.780220    77.769231     74.130435
9            9         Georgia    66.659341    57.890110     51.402174
10          10          Hawaii    51.901099    63.802198     63.565217
11          11           Idaho    70.461538    52.142857     30.619565
12          12        Illinois    72.593407    71.648352     79.673913
13          13         Indiana    74.934066    73.307692     83.195652
14          14            Iowa    73.648352    74.659341     81.510870
15          15          Kansas    65.043956    66.175824     69.586957
16          16        Kentucky    28.164835    39.021978     36.336957
17          17       Louisiana    71.087912    74.351648     78.739130
18          18           Maine    13.857143    22.098901     41.934783
19          19        Maryland    68.747253    67.681319     73.304348
20          20   Massachusetts    73.560440    61.978022     67.076087
21          21        Michigan    76.351648    76.791209     83.760870
22          22       Minnesota    83.516484    83.010989     85.032609
23          23     Mississippi    73.736264    74.164835     76.315217
24          24        Missouri    72.868132    72.439560     77.173913
25          25         Montana    79.032967    68.318681     56.065217
26          26        Nebraska    76.659341    76.219780     84.206522
27          27          Nevada    89.560440    90.340659     82.000000
28          28   New_Hampshire    77.109890    74.703297     85.173913
29          29      New_Jersey    68.758242    63.758242     67.760870
30          30      New_Mexico    55.571429    69.241758     66.782609
31          31        New_York    68.329670    63.208791     67.141304
32          32  North_Carolina    70.538462    74.340659     78.250000
33          33    North_Dakota    74.868132    77.373626     85.282609
34          34            Ohio    76.593407    73.274725     83.554348
35          35        Oklahoma    57.406593    64.142857     66.108696
36          36          Oregon    76.868132    65.604396     57.673913
37          37    Pennsylvania    76.923077    77.615385     84.021739
38          38    Rhode_Island    73.549451    72.780220     77.945652
39          39  South_Carolina    62.340659    47.384615     37.086957
40          40    South_Dakota    82.824176    73.109890     67.456522
41          41       Tennessee    72.274725    73.703297     81.195652
42          42           Texas    76.538462    73.714286     75.000000
43          43            Utah    65.439560    42.384615     27.728261
44          44         Vermont    74.318681    76.549451     76.760870
45          45        Virginia    75.758242    77.538462     77.880435
46          46      Washington    63.439560    62.252747     67.630435
47          47   West_Virginia    74.153846    76.868132     81.271739
48          48       Wisconsin    80.857143    78.549451     79.434783
49          49         Wyoming    75.516484    75.747253     77.565217

    avg_hum_wint  avg_temp_spr  avg_temp_sum  avg_temp_fall  avg_temp_wint  \
0      75.739130     18.076923     27.604396      30.793478      20.989130
1      75.163043     28.197802     30.000000      29.641304      27.739130
2      81.673913     25.582418     29.054945      28.782609      27.021739
3      67.554348     10.824176     26.076923      30.902174      12.576087
4      39.195652     15.538462     27.318681      35.010870      18.010870
5      53.152174      6.494505     19.714286      23.967391       6.619565
6      73.163043      3.934066     20.010989      27.021739       8.500000
7      76.652174      3.967033     21.934066      26.510870       8.967391
8      75.521739     24.604396     22.670330      23.380435      23.065217
9      67.032609      9.230769     23.000000      28.934783      12.021739
10     54.130435     19.109890     21.604396      27.260870      21.445652
11     65.076087      2.351648     18.879121      28.043478       4.717391
12     73.826087      2.329670     21.769231      26.434783       7.173913
13     76.521739      4.461538     22.494505      26.271739       9.467391
14     73.695652      1.780220     21.351648      26.260870       6.771739
15     69.423913      6.472527     24.846154      29.456522       9.978261
16     24.097826     32.989011     23.406593      20.239130      30.967391
17     75.369565      5.406593     23.549451      28.206522       9.826087
18     17.858696     34.032967     40.362637      36.119565      33.978261
19     71.445652      6.516484     25.065934      29.423913      10.913043
20     65.978261      4.109890     19.549451      27.086957       9.163043
21     77.750000      1.593407     17.263736      23.489130       6.500000
22     80.543478     -2.010989     17.857143      23.728261       3.271739
23     76.369565     15.021978     27.890110      32.021739      17.141304
24     74.695652     19.307692     29.527473      32.054348      20.467391
25     72.282609      5.835165     22.736264      26.543478      10.293478
26     77.456522      5.395604     22.516484      26.380435      10.065217
27     91.489130     20.043956     20.373626      22.250000      20.184783
28     79.369565      3.516484     21.175824      25.184783       8.391304
29     66.413043      5.043956     19.934066      27.652174      10.847826
30     58.815217     30.098901     19.747253      16.782609      26.750000
31     65.858696      5.109890     19.912088      27.728261      11.021739
32     76.967391     11.109890     25.340659      29.282609      14.358696
33     77.597826      0.989011     19.208791      24.652174       5.695652
34     77.304348      3.274725     21.219780      25.597826       8.260870
35     64.684783     12.285714     27.274725      31.336957      13.880435
36     70.815217      9.527473     19.483516      26.076087      12.500000
37     82.097826      3.109890     19.648352      25.021739       7.304348
38     71.315217      5.000000     17.989011      25.706522       9.967391
39     47.815217     25.769231     20.769231      22.347826      26.858696
40     75.228261     -4.131868     18.604396      25.880435       2.597826
41     74.271739      3.549451     22.670330      26.967391       8.413043
42     74.858696     18.076923     27.362637      30.586957      20.923913
43     45.923913     -1.384615     14.307692      19.630435       3.554348
44     75.543478     26.241758     27.296703      28.347826      27.641304
45     73.445652      8.032967     21.230769      27.869565      15.054348
46     66.445652      8.087912     24.505495      29.967391      12.706522
47     77.934783      5.219780     20.714286      25.847826       9.173913
48     79.010870     -1.747253     17.472527      24.434783       3.217391
49     78.956522      1.362637     18.021978      25.260870       5.934783

    avg_precip_spr  avg_precip_sum  avg_precip_fall  avg_precip_wint  \
0         1.324176        3.756044         6.307609         2.841304
1         0.081319        2.485714         4.276087         0.751087
2         2.626374        2.190110         1.850000         3.127174
3         0.231868        1.501099         1.282609         0.541304
4         0.228571        0.002198         0.014130         0.129348
5         0.318681        0.986813         1.986957         0.515217
6         1.908791        1.661538         2.627174         2.702174
7         1.993407        2.806593         2.967391         2.089130
8         1.186813        5.889011         6.381522         3.484783
9         0.574725        0.709890         1.046739         0.677174
10        0.042857        0.000000         0.047826         0.030435
11        0.153846        0.485714         0.108696         0.195652
12        0.521978        1.542857         1.378261         0.983696
13        1.254945        1.853846         2.225000         0.945652
14        0.990110        2.675824         2.078261         1.764130
15        0.324176        1.253846         2.118478         1.003261
16        0.173626        0.075824         0.002174         0.002174
17        1.397802        1.759341         1.909783         1.511957
18        0.000000        0.171429         0.311957         0.015217
19        1.650549        1.801099         2.400000         1.477174
20        1.905495        1.359341         1.328261         1.965217
21        0.808791        2.498901         2.691304         1.439130
22        0.612088        2.547253         1.859783         0.851087
23        1.586813        2.883516         2.101087         1.644565
24        0.116484        0.272527         0.772826         0.321739
25        1.232967        0.905495         0.596739         0.677174
26        0.958242        1.051648         1.460870         0.856522
27        5.697802       10.142857         6.665217         7.173913
28        2.030769        2.838462         3.451087         2.136957
29        2.052747        1.502198         3.161957         3.357609
30        0.737363        0.151648         0.504348         1.014130
31        1.949451        1.745055         3.732609         3.405435
32        1.791209        1.761538         3.133696         2.372826
33        0.526374        1.779121         1.478261         0.722826
34        0.615385        1.062637         1.325000         0.520652
35        0.778022        1.851648         2.821739         1.041304
36        2.780220        1.076923         0.211957         2.769565
37        1.796703        2.161538         3.245652         2.550000
38        1.372527        0.559341         1.255435         0.821739
39        1.256044        0.216484         0.034783         1.607609
40        0.597802        1.620879         1.410870         0.619565
41        0.203297        0.382418         0.515217         0.248913
42        1.543956        2.212088         7.352174         2.535870
43        0.478022        0.427473         0.005435         0.227174
44        0.995604        0.863736         1.192391         1.400000
45        0.275824        0.560440         0.877174         0.556522
46        0.891209        3.168132         3.425000         1.621739
47        1.801099        2.791209         2.754348         2.057609
48        0.254945        1.153846         1.456522         0.692391
49        1.000000        1.356044         1.365217         1.119565

    avg_pressure_spr  avg_pressure_sum  avg_pressure_fall  avg_pressure_wint
0        1021.978022       1016.000000        1016.271739        1018.380435
1        1014.450549       1012.296703        1012.597826        1013.260870
2        1016.362637       1013.098901        1013.945652        1014.097826
3        1021.076923       1012.945055        1015.217391        1019.086957
4        1018.505495       1012.505495        1012.206522        1017.293478
5        1017.780220       1013.010989        1017.489130        1019.086957
6        1019.109890       1015.747253        1019.010870        1017.630435
7        1022.395604       1015.208791        1017.478261        1019.065217
8        1012.758242       1013.835165        1013.326087        1012.934783
9        1018.549451       1015.285714        1013.934783        1022.086957
10       1018.406593       1013.989011        1012.967391        1016.576087
11       1021.901099       1013.648352        1015.217391        1023.336957
12       1022.274725       1014.340659        1016.793478        1018.934783
13       1022.450549       1014.890110        1017.206522        1019.119565
14       1022.439560       1014.285714        1016.760870        1019.010870
15       1022.065934       1013.571429        1016.043478        1019.369565
16       1011.000000       1018.164835        1021.032609        1014.271739
17       1022.417582       1014.274725        1016.717391        1019.228261
18       1011.527473       1008.032967        1010.413043        1012.271739
19       1022.351648       1014.516484        1016.739130        1019.271739
20       1018.252747       1015.593407        1019.032609        1017.119565
21       1022.021978       1014.989011        1017.326087        1018.619565
22       1022.703297       1014.901099        1016.597826        1018.880435
23       1022.373626       1015.857143        1016.576087        1019.065217
24       1020.978022       1015.120879        1015.576087        1018.141304
25       1015.450549       1014.593407        1016.086957        1022.130435
26       1022.450549       1015.010989        1017.239130        1019.304348
27       1010.978022       1011.934066        1011.097826        1011.413043
28       1022.351648       1015.076923        1017.326087        1019.032609
29       1020.153846       1016.021978        1018.771739        1018.250000
30       1013.692308       1021.461538        1019.532609        1014.065217
31       1020.087912       1016.021978        1018.760870        1018.239130
32       1022.329670       1016.230769        1018.021739        1019.641304
33       1022.230769       1014.868132        1017.000000        1018.728261
34       1022.175824       1015.032967        1017.380435        1018.815217
35       1020.967033       1013.065934        1014.978261        1018.858696
36       1019.263736       1017.439560        1017.271739        1020.021739
37       1021.527473       1016.087912        1018.945652        1019.010870
38       1018.373626       1015.868132        1019.065217        1017.250000
39       1014.846154       1021.274725        1021.684783        1016.554348
40       1023.307692       1014.439560        1015.576087        1019.510870
41       1022.417582       1014.274725        1016.663043        1019.130435
42       1020.956044       1015.186813        1015.597826        1017.826087
43       1021.175824       1013.956044        1010.945652        1022.086957
44       1015.978022       1016.637363        1015.271739        1014.630435
45       1021.692308       1016.340659        1018.032609        1019.108696
46       1021.560440       1016.043956        1018.478261        1019.184783
47       1021.857143       1015.956044        1018.586957        1019.271739
48       1022.318681       1015.384615        1016.815217        1018.543478
49       1021.505495       1015.230769        1017.184783        1018.271739  >

Next I want to remove unneeded columns and organize the columns in ascending order.

In [139]:
# remove unneccessary columns from the sighting dataframe

ufos = sightings.drop(['Event.Date', 'Shape', 'Source', 'Unnamed: 7', 'Country', 'USA'], axis=1)
ufos.head(5)

            Location State
0  South Barrington    IL
1              Kuna    ID
2      Lake Stevens    WA
3            Gerber    CA
4         Camdenton    MO

In [ ]:
# put the State column in alphabetical order

In [141]:
# remove columns from climate dataframe

temperature = climate.drop(climate.columns[[2,3,4,5,10,11,12,13,14,15,16,17]], axis=1)
temperature.head(5)

,Unnamed: 0,state,avg_temp_spr,avg_temp_sum,avg_temp_fall,avg_temp_wint
0,0,Alabama,18.076923,27.604396,30.793478,20.989130
1,1,Alaska,28.197802,30.000000,29.641304,27.739130
2,2,Arizona,25.582418,29.054945,28.782609,27.021739
3,3,Arkansas,10.824176,26.076923,30.902174,12.576087
4,4,California,15.538462,27.318681,35.010870,18.010870

In [ ]:
# calculate total avg temperature for each state